@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Erreur</h1>
<h2 class="text-danger">Une erreur s'est produite lors de la requete.</h2>

<h3>Environement de Developpement</h3>
<p>
    Opter pour <strong>l'environement</strong> de developpement affichera des informations plus detaillees a propos de l'erreur qui s'est produite durant la requete.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
