@{
    ViewData["Title"] = "Confirmation de votre Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Votre email a bien ete confirme. Veuillez  <a asp-controller="Account" asp-action="Login">cliquer ici pour vous connecter.</a>.
    </p>
</div>
