@{
    ViewData["Title"] = "Compte suspendu";
}

<header>
    <h1 class="text-danger">Compte suspendu.</h1>
    <p class="text-danger">Ce compte a ete suspendu. Veuillez ressayer plus tard.</p>
</header>
