@{
    ViewData["Title"] = "Confirmation du nouveau mot de passe";
}

<h1>@ViewData["Title"].</h1>
<p>
    Votre mot de passe a bien ete modifie. Veuillez <a asp-controller="Account" asp-action="Login">Cliquer ici pour vous connecter.</a>.
</p>
