@{
    ViewData["Title"] = "A propos";
}
<h2>@ViewData["Titles"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Constamment en quête de l'excellence dans l'accompagnement en gestion de carrière, notre ambition est de placer l'humain au coeur de l'entreprise sur la base des compétences acquises et mobilisables.</p>
