@{
    ViewData["Title"] = "Formations";
}
<!--@ViewData["Title"]
@ViewData["Message"]-->

<p>Constamment en quête de l'excellence dans l'accompagnement en gestion de carrière, notre ambition est de placer l'humain au coeur de l'entreprise sur la base des compétences acquises et mobilisables.</p>

<div class="row">


  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="~/images/Formations/Admin.jpg" alt="Admin">
    </a>
  </div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="~/images/Formations/Dev.jpg" alt="Dev">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="~/images/Formations/Techos.jpg" alt="Techos">
    </a>
  </div>
</div>

</div>