@{
    ViewData["Title"] = "Formations";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Constamment en quête de l'excellence dans l'accompagnement en gestion de carrière, notre ambition est de placer l'humain au coeur de l'entreprise sur la base des compétences acquises et mobilisables.</p>

<div class="row">

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="~/images/Formations/AdminRez.jpg" alt="Admin">
    </a>
  </div>
  

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="~/images/Formations/Dev.jpg" alt="Admin">
    </a>
  </div>
  

  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="~/images/Formations/Techos.jpg" alt="Admin">
    </a>
  </div>

  </div>
  