@{
    ViewData["Title"] = "Contact";
}
<!--<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>-->

<address>
Amat Executive Consultants<br />
Tour Ernest & Young - 9-11 Allée de l'arche<br />
92671 Paris La Défense<br />
    <abbr title="Phone">Telephone :</abbr>
   01 49 97 15 11
</address>

<address>
    <strong>Email :</strong> <a href="mailto:contact@amat-rh.com">contact@amat-rh.com</a><br />
</address>
