@{
    ViewData["Title"] = "Formations";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Constamment en quête de l'excellence dans l'accompagnement en gestion de carrière, notre ambition est de placer l'humain au coeur de l'entreprise sur la base des compétences acquises et mobilisables.</p>

<div class="row">

  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <button class="btn btn-primary" type="button">DEVELOPPEUR <span class="badge">Certifie</span></button>
      <img src="~/images/Formations/Dev.jpg" alt="Dev">
    </a>
    <p class="marginbutton"><a class="btn btn-primary" href="http://localhost:5000/Account/Login">Candidatez sur votre profil </a></p>
    </div>
  </div>
  

  <div class="col-xs-6 col-md-3">
     <div class="thumbnail">
      <button class="btn btn-danger" type="button">ADMINISTRATEUR <span class="badge">Certifie</span></button>
      <img src="~/images/Formations/AdminRez.jpg" alt="Admin">
     </a>
    <p class="marginbutton"><a class="btn btn-danger" href="http://localhost:5000/Account/Login">Candidatez sur votre profil </a></p>
    </div>
    </div>
  

  <div class="col-xs-6 col-md-3">
   <div class="thumbnail">
      <button class="btn btn-success" type="button">ADMINISTRATEUR <span class="badge">Certifie</span></button>
      <img src="~/images/Formations/Techos.jpg" alt="Tech">
     </a>
    <p class="marginbutton"><a class="btn btn-success" href="http://localhost:5000/Account/Login">Candidatez sur votre profil </a></p>
    </div>
    </div>

    </div>
 
  